div.cover_container {
    height: 100vh;
    min-height: 85rem;
    width: 100%;
    align-items: center;
    z-index: 5;
}

div.cover_inside {
    position: relative;
    height: 67rem;
    background-size: 24rem;
    background-position: center;
    width: 100%;
    align-items: flex-end;
}

div.cover_image_container {
    height: 40rem;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    z-index: 7;
}

p.current_image_container, p.prev_image_container, p.next_image_container {
    width: 33%;
    z-index: 4;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

p.current_image_container > img, p.prev_image_container > img, p.next_image_container > img {
    height: 100%;
    box-shadow: 0 0 .5rem black;
    border-radius: 1.5rem;
    z-index: 6;
}


div.cover_middle {
    position: absolute;
    top: 0;
    height: 25rem;
    width: 100%;
    background: url('Resource/cover_bg.svg');
    background-size: 22rem;
    background-position: top;
    background-color: rgba(255, 255, 255, .5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 5rem;
    text-shadow: 0 0 .5rem rgba(107, 112, 92, 1);
    z-index: 5;
    animation: text_shadow_change 2s infinite;
}


@media only screen and (max-width: 1650px) {
    div.cover_container {
        height: 170rem;
    }

    div.cover_inside {
        height: 150rem;
    }

    div.cover_image_container {
        height: 125rem;
        flex-flow: column;
    }

    p.current_image_container, p.prev_image_container, p.next_image_container {
        height: 40rem;
        width: 100%;
    }

    p.current_image_container > img, p.prev_image_container > img, p.next_image_container > img {
        height: 90%;
        width: 95%;
    }
}

p.current_image_container > img:hover, p.prev_image_container > img:hover, p.next_image_container > img:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 1rem black;
}

/* p.current_image_container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: black;
    z-index: 10000000000;
}

p.current_image_container > img {
    object-fit: contain;
    height: 95%;
    width: 99%;
    z-index: 10000000000;
} */
