.resto_marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    z-index: 5;
    background: rgba(107, 112, 92, 1) no-repeat;
}