section.menufood_container {
    /* background: linear-gradient(10deg, rgba(131, 197, 190, 1) 30%, white 50%); */
    /* background: linear-gradient(5deg, rgba(2, 195, 154, 1) 15%, rgba(0, 168, 150, 1), white 50%); */
    height: 100vh;
    min-height: 90rem;
    width: 100%;
    background-image: url("Resource/bg-doodles.svg");
    background-position: center;
    background-size: 25rem;
}

main.section_container > section.menufood_container {
    /* background: linear-gradient(to top, rgba(2, 195, 154, 1) 40%, white 100%); */
    height: 100%;
    min-height: 90rem;
}

section.menufood_container > div {
    margin-top: 5rem;
    height: calc(100% - 10rem);
    min-height: 80rem;
    box-shadow: 0 0 .75rem black;
    background-color: rgba(232, 211, 197, 1);
}

main.section_container > section.menufood_container > div > .menufood_inside {
    /* background: linear-gradient(to top, rgba(2, 195, 154, 1) 40%, white 100%); */
    height: 80rem;
    padding-bottom: 5rem;
}

.menufood_inside {
    height: 100%;
    padding: 2rem 5rem;
    flex-wrap: wrap;
    position: relative;
    text-shadow: 0 .1rem .20rem rgba(107, 112, 92, 1);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0% 90%, rgba(0, 0, 0, .1) 100%);
}

.menufood_inside > h1 {
    position: absolute;
    font-size: 5rem;
    transform: rotate(-90deg);
    left: -2.5rem;
    top: 5rem;
}

.menufood_inside > h1::before {
    content: "";
    position: absolute;
    width: 16rem;
    height: .25rem;
    /* background: linear-gradient(to right, black 0%, rgba(5, 102, 141, 1) 50%, white 90%);  */
    background: black;
    bottom: 0;
    left: -1rem;
}

.menufood_inside div {
    width: 40%;
    margin: 0 5%;
    position: relative;
}

.menufood_inside h3::before {
    content: "";
    position: absolute;
    height: 4.5rem;
    left: 0;
    width: .33rem;
    /* background: linear-gradient(to bottom, rgba(5, 102, 141, 1) 0% 50%, rgba(0, 0, 0, 0) 100%); */
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10% 90%, rgba(0, 0, 0, 0) 100%)
}

.menufood_inside h3 {
    padding-left: 1rem;
    font-size: 4.5rem;
}

.menufood_inside li {
    position: relative;
    font-size: 2.5rem;
    width: 100%;
    justify-content: space-between;
    background: rgb(69, 71, 58);
    padding: .5rem 2rem;
}

.menufood_inside li > span {
    color: rgba(232, 211, 197, 1);
}

/* .menufood_inside li > span:nth-child(2) {
    color: rgba(5, 102, 141, 1);
} */

/* .menufood_inside li::before, .menufood_inside li::after {
    content: "";
    position: absolute;
    height: .15rem;
    width: 40%;
    bottom: 0;
}

.menufood_inside li::before {
    background: linear-gradient(to right, rgba(5, 102, 141, 1) 0%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .1) 100%);
}

.menufood_inside li::after {
    background: linear-gradient(to left, rgba(5, 102, 141, 1) 0%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .1) 100%);
    right: 0;
} */

@media only screen and (max-width: 980px) {
    .menufood_inside {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .menufood_inside div {
        width: calc(100% - 5rem);
    }

    .menufood_inside > h1 {
        left: -4.5rem;
    }
}