#root > div {
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

main {
  flex-direction: column;
}

.universal-container {
  position: relative;
  margin: 0 10vw;
}

.fd {
  display: flex;
}